@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
  font-family: 'Gilroy';
  src: url("../src/assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #0088f6;
  --color-secondary: #0088f6;
  --color-tertiary: #131825;
  --color-grey: #646464;
  --font-color-1: #fff;
  --font-color-2: #7d7d7d;
  --font-color-3: #2bcdaa;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* * Defines what 1rem is */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 1.6rem;
}


